@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat/Montserrat-Regular.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat/Montserrat-Bold.woff) format("woff"), url(../fonts/Montserrat/Montserrat-Bold.ttf) format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-SemiBold.woff2) format("woff2"), url(../fonts/Montserrat/Montserrat-SemiBold.woff) format("woff"), url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.woff2) format("woff2"), url(../fonts/Montserrat/Montserrat-ExtraBold.woff) format("woff"), url(../fonts/Montserrat/Montserrat-ExtraBold.ttf) format("ttf");
  font-weight: 800;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Bold.woff2) format("woff2"), url(../fonts/Playfair_Display/PlayfairDisplay-Bold.woff) format("wof"), url(../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf) format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Meddon";
  src: url(../fonts/Meddon/Meddon.woff2) format("woff2"), url(../fonts/Meddon/Meddon.woff) format("woff"), url(../fonts/Meddon/Meddon.ttf) format("ttf");
  font-weight: 400;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  overflow-x: hidden;
}

.head,
.logo {
  font-family: "Meddon";
  font-weight: 400;
  font-size: 30px;
  line-height: 63px;
  color: #dcc4a6;
  margin: 0;
}

.logo {
  font-size: 20px;
  line-height: 214.8%;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.title {
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  margin: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  min-height: 800px;
  background-image: url(../img/pattern600X600.png);
  background-color: #564a5e;
  padding-top: 45px;
  padding-bottom: 0.05vw;
}

.header__container {
  position: relative;
  height: 865px;
}

.header__title {
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 115px;
  color: #fff5e9;
}

.header__head {
  font-size: 50px;
  line-height: 214.8%;
  text-align: center;
  letter-spacing: 0.2em;
  color: #ecd8bf;
  margin: 0;
}

.header__img {
  position: absolute;
  left: 0;
  bottom: -12%;
  width: 100%;
}

.header__line1 {
  position: absolute;
  top: -50px;
  left: -270px;
}

.header__line2 {
  position: absolute;
  top: 209px;
  right: -245px;
}

.menu-list {
  list-style: none;
  color: #fff5e9;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

.menu-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: #fff5e9;
}

.menu-item:hover {
  color: #c8b091;
  text-decoration: underline;
}

.about {
  padding-top: 25%;
}

.about__info {
  background-color: #564a5e;
  max-width: 775px;
  padding: 75px 12%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.about__text-top {
  font-weight: 600;
  font-size: 10px;
  line-height: 180%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 70px;
}

.about__text {
  margin-top: 33px;
}

.about__img {
  position: absolute;
  top: -98px;
  right: -633px;
}

.portfolio {
  padding: 14% 0;
}

.portfolio__title {
  color: #564a5e;
}

.portfolio__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 230px 520px 225px 872px;
      grid-template-rows: 230px 520px 225px 872px;
  grid-gap: 85px 80px;
}

.portfolio__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__card-first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portfolio__card-third {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.portfolio__card-fourth {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.portfolio__card-fifth {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.portfolio__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__img {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-bottom: 33px;
}

.portfolio__array {
  padding: 30px 25px;
  border: 2px solid #5d002c;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #5d002c;
}

.portfolio__array:hover {
  fill: #fff;
  background-color: #5d002c;
}

.card-title {
  color: #564a5e;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 30%;
  padding: 33px 70px;
  border: 2px solid #5d002c;
  color: #5d002c;
  font-weight: 800;
  font-size: 12px;
  line-height: 146.28%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #5d002c;
  color: white;
}

.philosophy {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/back.jpg);
  background-color: transparent;
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
  padding: 20% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.philosophy__text {
  max-width: 800px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  margin-top: 25px;
}

.services {
  padding: 128px 0 90px 0;
}

.services__title, .services__card-title {
  color: #564a5e;
}

.services__head, .services__title {
  text-align: center;
}

.services__title {
  margin-bottom: 34px;
}

.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__card {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.services__card-title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  line-height: 101.66%;
}

.services__info {
  width: 400px;
  padding: 20px 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.services__text {
  color: #9b7f81;
  font-size: 18px;
}

.services__number {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #e5d4be;
  font-family: Playfair Display;
  font-size: 100px;
  line-height: 101.66%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
}

.services__number::before {
  content: "";
  display: block;
  z-index: -1;
  width: 78px;
  height: 85px;
  background-color: #564a5e;
  position: absolute;
  top: -1px;
  left: 25px;
}

.instagram {
  padding-bottom: 140px;
  max-width: 1900px;
  margin: 0 auto;
}

.instagram__head, .instagram__title {
  text-align: center;
}

.instagram__title {
  color: #564a5e;
  margin-bottom: 28px;
}

.instagram__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instagram__img {
  max-width: 370px;
  height: auto;
  margin-bottom: 10px;
}

.sub {
  display: block;
  font-weight: 800;
  font-size: 12px;
  line-height: 146.28%;
  color: #564a5e;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 55px;
}

.footer {
  padding: 95px 0;
  background-color: #564a5e;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  color: #c8b091;
}

.footer__icon {
  text-decoration: none;
  color: #c8b091;
  border: 1px solid #c8b091;
  border-radius: 50%;
  padding: 20px;
  margin-left: 38px;
}

.footer__icon:hover {
  color: #fff5e9;
  background-color: #c8b091;
}

@media (max-width: 800px) {
  .title {
    font-size: 40px;
  }
  .list-li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .header__line {
    display: none;
  }
  .about__info {
    padding: 0;
  }
  .about__img {
    display: none;
  }
  .portfolio__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__img {
    width: 100%;
  }
  .portfolio__heading {
    text-align: center;
  }
  .services {
    padding: 0;
  }
  .services__cards {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    padding: 0 20px;
  }
  .services__card {
    width: 60%;
  }
  .instagram {
    padding-bottom: 0;
  }
  .instagram__box {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__link {
    margin: 20px 0px;
  }
  .about__info,
  .card-title {
    text-align: center;
    padding: 10% 20px;
  }
  .portfolio__card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .philosophy {
    padding: 20% 20px;
  }
}
/*# sourceMappingURL=styles.css.map */